$black: #030303;
$red: #f8485d;
$orange: #fab00f;
$gray: #6C6C6C;
$all_tr: all .5s;

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1420px;
}

main {
    margin-top: 104px;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

//marigns
.mt-30 {
    margin-top: 30px;
}

h2 {
    color: #313131;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    display: block;

    span {
        color: $orange;
        font-weight: 300;
    }

    &::after {
        display: inline-block;
        position: absolute;
        content: '';
        bottom: -15px;
        height: 5px;
        border-radius: 2.5px;
        width: 70px;
        background: $orange;
        left: calc(50% - 50px);
        transition: $all_tr;
    }

    &::before {
        display: inline-block;
        position: absolute;
        content: '';
        bottom: -15px;
        height: 5px;
        border-radius: 2.5px;
        width: 20px;
        background: $orange;
        right: calc(50% - 50px);
        transition: $all_tr;
    }

    &:hover {
        &::after {
            width: 20px;
        }

        &::before {
            width: 70px;
        }
    }
}

.navbar {
    background-color: white;
    box-shadow: 0 0 30px #00000012;

    .nav-sklep {
        position: relative;
        margin-right: 55px;

        &::before {
            position: absolute;
            content: url(/img/bag.svg);
            background: $red;
            border-radius: 50%;
            text-align: center;
            top: 5px;
            left: -25px;
            padding-top: 1px;
            width: 25px;
            height: 25px;
        }
    }

    .nav-b2b {
        position: relative;


        &::before {
            position: absolute;
            content: url(/img/like.svg);
            background: $red;
            border-radius: 50%;
            text-align: center;
            top: 5px;
            left: -25px;
            padding-top: 1px;
            width: 25px;
            height: 25px;
        }
    }

    a {
        text-transform: uppercase;
        color: $black;
        font-weight: 700;
        position: relative;
        transition: $all_tr;

        &::before {
            position: absolute;
            content: '';
            bottom: 0;
            height: 3px;
            width: 0px;
            background: $orange;
            right: 50%;
            transition: $all_tr;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            height: 3px;
            width: 0px;
            background: $orange;
            left: 50%;
            transition: $all_tr;
        }

        &:hover {
            color: $orange;

            &::before {

                width: 30px;
            }

            &::after {

                width: 30px;
            }
        }
    }
}

.cta {
    background: $red;
    color: #fff;
    padding: 1em 2em;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    display: inline-block;
    transition: $all_tr;

    &:hover {
        color: #fff;
        background: $orange;
        text-decoration: none;
    }
}

.gray {
    background: #FCFCFC;
}

.orange {
    background: $orange;
    color: #fff;

    h2 {
        text-align: left;
        color: #fff;

        &::before {
            background: #fff;
            right: calc(100% - 100px);
        }

        &::after {
            background: #fff;
            left: 0;
        }
    }

    p {
        font-weight: 200;

        strong {
            font-weight: 600;
        }
    }

    a {
        background: #fff;
        color: #313131;

        &:hover {
            background: $red;
        }
    }
}

.banner {
    padding: 7rem 0 12rem 0;
    background: url(/img/hero-bg.jpg) center top no-repeat;
    background-size: cover;
    width: 96%;
    display: block;
    margin: 0 auto;

    h1 {
        color: $red;
        font-weight: 700;
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.4rem;
        color: $gray;
    }
}

.offer-boxes {
    margin-top: -7rem;

    .offer-box {
        background: #fff;
        text-align: center;
        box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
        padding: 2em 1em;
        height: 100%;
        position: relative;
        transition: $all_tr;
        z-index: 4;

        p {
            margin: 0;
            color: #313131;
            font-weight: 700;
            font-size: 1.2rem;
            margin-top: 1.5rem;
        }

        &:hover {
            box-shadow: 0 0 44px rgba(0, 0, 0, 0.28);
            transform: scale(1.1);
            z-index: 5;
            cursor: pointer;

            img {
                filter: invert(41%) sepia(80%) saturate(1790%) hue-rotate(324deg) brightness(95%) contrast(104%);
            }
        }
    }
}

.products {
    margin: 5rem 0;
}

//filrowanie//
.filters ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 30px 0px;
    padding: 1em;
    background: #fafafa;
}

.filters ul li {
    display: inline-block;
    text-align: center;
    margin: 0 2rem;
    padding: 0 5px 8px 5px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-bottom: -2px;
    color: #777;
    transition: 0.3s;
    text-transform: uppercase;
}

.filters ul li:hover {
    color: $orange;
}

.filters ul li.is-checked {
    border-bottom: 2px solid $orange;
    color: $orange;
}

.filters ul li:last-child {
    margin-right: 0;
}


.grid .grid-item h1 {
    background: #EEEEEE;
    height: 150px;
    line-height: 150px;
    color: white;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}

.about {
    padding: 5rem 0;
    width: 96%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;

    .about-img-holder {
        position: absolute;
        left: 50%;
        right: 0;
        content: '';
        background: url(/img/produkty.png) center center no-repeat;
        background-size: contain;
        background-color: #fff;
        top: 0;
        bottom: 0;
        margin: 15px;
        border-radius: 15px;
        min-height: 300px;
    }
}

.other-products {
    padding: 5rem 0;
}

.refs {
    padding: 5rem 0;

    .ref-item {
        background: #fff;
        box-shadow: 0 0 46px rgba(0, 0, 0, 0.04);
        padding: 2em;

        h3.name {
            font-weight: 700;
            color: #25221C;
            margin: .2em 0 .7em 0;
        }

        p {
            padding-left: 30px;
            position: relative;
            margin: 0;

            &::before {
                content: url(/img/quote.svg);
                position: absolute;
                left: 0;
                top: 5px;
            }
        }
    }
}

.clients {
    padding: 5rem 0;


    .logo-car {
        display: block;
        background: #fff;
        padding: 4em 2em;

        img {
            max-width: 100%;
            filter: grayscale(100%);
        }

        &:hover {
            box-shadow: 0 0 46px rgba(0, 0, 0, 0.08);

            img {
                filter: none;
            }
        }
    }

    .swiper-container {
        padding-bottom: 3em;
        padding-top: 1.5em;

        .swiper-pagination {
            .swiper-pagination-bullet {
                display: inline-block;
                border-radius: 100%;
                background: #FAB10F;
                opacity: 1;
                width: 10px;
                height: 10px;
                margin: 0px 6px;
            }

            .swiper-pagination-bullet-active {
                background: #fff;
                border: 4px solid #FAB10F;
                width: 16px;
                height: 16px;
                margin-bottom: -3px;
            }
        }
    }
}

.contact {
    padding: 5rem 0;
    position: relative;

    .google-map {
        position: absolute;
        top: 0;
        bottom: 5rem;
        right: 0;
        left: 40%;
        z-index: 0;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    p {
        color: #6E6E6E;
    }

    h2 {
        text-align: left;
        margin-bottom: 1.5em;

        &::before {
            right: calc(100% - 100px);
        }

        &::after {
            left: 0;
        }
    }

    .contact-info {
        background: #fff;
        padding: 2rem;
        box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
        margin-top: 2rem;
        position: relative;
        z-index: 2;

        h3 {
            font-size: 1.4rem;
            font-weight: 700;
            color: #313131;
            margin-bottom: .2rem;
        }

        p {
            margin-bottom: 2rem;
            font-size: .9rem;
        }

        p.adres,
        p.tel,
        p.mail {
            color: #313131;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.6;
            padding-left: 40px;
            position: relative;
            margin-bottom: 0;
        }

        p.adres {
            &:before {
                position: absolute;
                content: url(/img/map.svg);
                top: 0;
                left: 0;
            }
        }

        p.tel {
            &:before {
                position: absolute;
                content: url(/img/phone.svg);
                top: 0;
                left: 0;
            }
        }

        p.mail {
            &:before {
                position: absolute;
                content: url(/img/mail.svg);
                top: 0;
                left: 0;
            }
        }
    }
}

.newsletter {
    background: $red;
    padding: 2rem 0;

    h3 {
        color: #fff;
        font-weight: 700;
    }

    p {
        color: #fff;
        margin-bottom: 0;
    }
}

.footer {
    padding: 3rem 0;
    color: #fff;
    background: #1A1A1A;

    h3 {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    ul {
        padding-left: 0;

        li {
            list-style: none;
            display: block;

            a {
                color: #BEBEBE;
                transition: $all_tr;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    h4 {
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
    }

    p {
        font-weight: 300;
        color: #BEBEBE;
        position: relative;
        padding-left: 30px;

        strong {
            font-weight: 700;
        }
    }

    p.adres {
        &:before {
            position: absolute;
            content: url(/img/map.svg);
            top: 0;
            left: 0;
        }
    }

    p.tel {
        &:before {
            position: absolute;
            content: url(/img/phone.svg);
            top: 0;
            left: 0;
        }
    }

    p.mail {
        &:before {
            position: absolute;
            content: url(/img/mail.svg);
            top: 0;
            left: 0;
        }
    }

    a {
        color: #fff;
    }
}

footer {
    background: #000;
    color: #B0B0B0;
    padding: 1rem 5%;

    a {
        color: #B0B0B0;
    }

    p {
        margin: 0;
    }

    img {
        max-height: 20px;
        margin: 0 10px;
    }

    a {
        text-align: right;
        float: right;
        margin-left: 40px;
    }
}

.product-card {
    background: #FCFCFC;
    margin: 15px 0;
    text-align: center;
    padding: 2em;
    height: 100%;
    transition: $all_tr;

    .img-holder {
        height: 220px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
            display: block;
            margin: 0 auto;
        }
    }


    p.nrkat {
        background: #9C9C9C;
        font-size: .8rem;
        display: inline-block;
        padding: .2em 1em;
        border-radius: 5px;
        color: #fff;
    }

    h4 {
        color: #313131;
        font-weight: 600;
        font-size: 1.2rem;
        height: 80px;
    }

    p.price {
        color: $orange;
        font-weight: 700;
        font-size: 1.8rem;
    }

    a.cta {
        background: #F0F0F0;
        color: #808080;


    }

    &:hover {
        cursor: pointer;
        background: #fff;
        box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);

        a.cta {
            background: $orange;
            color: #fff;
        }
    }
}