.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.menu-toggle {
  width: 30px;
  position: absolute;
  top: 45px;
  right: 5px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.menu-toggle span {
  width: 100%;
  height: 2px;
  display: block;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #f8485d;
}

.menu-toggle span:last-of-type {
  width: 75%;
  margin-right: 0;
  margin-left: auto;
}

.menu-toggle.burger span.top {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.menu-toggle.burger span.middle {
  width: 100%;
  opacity: 1;
  -webkit-transform: translatex(0);
          transform: translatex(0);
  -webkit-transition: all 0.3s ease-out .3s;
  transition: all 0.3s ease-out .3s;
}

.menu-toggle.burger span.bottom {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-toggle.times span.top {
  -webkit-transform: rotate(45deg) translate(5px, 10px);
          transform: rotate(45deg) translate(5px, 10px);
  -webkit-transition: -webkit-transform .3s ease-out .3s;
  transition: -webkit-transform .3s ease-out .3s;
  transition: transform .3s ease-out .3s;
  transition: transform .3s ease-out .3s, -webkit-transform .3s ease-out .3s;
}

.menu-toggle.times span.middle {
  width: 0%;
  opacity: 0;
  -webkit-transform: translatex(-10px);
          transform: translatex(-10px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-toggle.times span:last-of-type.bottom {
  -webkit-transform: rotate(-45deg) translate(0px, -5px);
          transform: rotate(-45deg) translate(0px, -5px);
  -webkit-transition: all .3s ease-out .3s;
  transition: all .3s ease-out .3s;
  width: 100%;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1420px;
}

main {
  margin-top: 104px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.mt-30 {
  margin-top: 30px;
}

h2 {
  color: #313131;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  display: block;
}

h2 span {
  color: #fab00f;
  font-weight: 300;
}

h2::after {
  display: inline-block;
  position: absolute;
  content: '';
  bottom: -15px;
  height: 5px;
  border-radius: 2.5px;
  width: 70px;
  background: #fab00f;
  left: calc(50% - 50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

h2::before {
  display: inline-block;
  position: absolute;
  content: '';
  bottom: -15px;
  height: 5px;
  border-radius: 2.5px;
  width: 20px;
  background: #fab00f;
  right: calc(50% - 50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

h2:hover::after {
  width: 20px;
}

h2:hover::before {
  width: 70px;
}

.navbar {
  background-color: white;
  -webkit-box-shadow: 0 0 30px #00000012;
          box-shadow: 0 0 30px #00000012;
}

.navbar .nav-sklep {
  position: relative;
  margin-right: 55px;
}

.navbar .nav-sklep::before {
  position: absolute;
  content: url(/img/bag.svg);
  background: #f8485d;
  border-radius: 50%;
  text-align: center;
  top: 5px;
  left: -25px;
  padding-top: 1px;
  width: 25px;
  height: 25px;
}

.navbar .nav-b2b {
  position: relative;
}

.navbar .nav-b2b::before {
  position: absolute;
  content: url(/img/like.svg);
  background: #f8485d;
  border-radius: 50%;
  text-align: center;
  top: 5px;
  left: -25px;
  padding-top: 1px;
  width: 25px;
  height: 25px;
}

.navbar a {
  text-transform: uppercase;
  color: #030303;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar a::before {
  position: absolute;
  content: '';
  bottom: 0;
  height: 3px;
  width: 0px;
  background: #fab00f;
  right: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar a::after {
  position: absolute;
  content: '';
  bottom: 0;
  height: 3px;
  width: 0px;
  background: #fab00f;
  left: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar a:hover {
  color: #fab00f;
}

.navbar a:hover::before {
  width: 30px;
}

.navbar a:hover::after {
  width: 30px;
}

.cta {
  background: #f8485d;
  color: #fff;
  padding: 1em 2em;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cta:hover {
  color: #fff;
  background: #fab00f;
  text-decoration: none;
}

.gray {
  background: #FCFCFC;
}

.orange {
  background: #fab00f;
  color: #fff;
}

.orange h2 {
  text-align: left;
  color: #fff;
}

.orange h2::before {
  background: #fff;
  right: calc(100% - 100px);
}

.orange h2::after {
  background: #fff;
  left: 0;
}

.orange p {
  font-weight: 200;
}

.orange p strong {
  font-weight: 600;
}

.orange a {
  background: #fff;
  color: #313131;
}

.orange a:hover {
  background: #f8485d;
}

.banner {
  padding: 7rem 0 12rem 0;
  background: url(/img/hero-bg.jpg) center top no-repeat;
  background-size: cover;
  width: 96%;
  display: block;
  margin: 0 auto;
}

.banner h1 {
  color: #f8485d;
  font-weight: 700;
  font-size: 3rem;
}

.banner .subtitle {
  font-size: 1.4rem;
  color: #6C6C6C;
}

.offer-boxes {
  margin-top: -7rem;
}

.offer-boxes .offer-box {
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
  padding: 2em 1em;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 4;
}

.offer-boxes .offer-box p {
  margin: 0;
  color: #313131;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.offer-boxes .offer-box:hover {
  -webkit-box-shadow: 0 0 44px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 44px rgba(0, 0, 0, 0.28);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 5;
  cursor: pointer;
}

.offer-boxes .offer-box:hover img {
  -webkit-filter: invert(41%) sepia(80%) saturate(1790%) hue-rotate(324deg) brightness(95%) contrast(104%);
          filter: invert(41%) sepia(80%) saturate(1790%) hue-rotate(324deg) brightness(95%) contrast(104%);
}

.products {
  margin: 5rem 0;
}

.filters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 30px 0px;
  padding: 1em;
  background: #fafafa;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters ul li {
  display: inline-block;
  text-align: center;
  padding: .5rem 1rem;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-bottom: -2px;
  color: #777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}

.filters ul li:hover {
  color: #fab00f;
}

.filters ul li.is-checked {
  border-bottom: 2px solid #fab00f;
  color: #fab00f;
}

.filters ul li:last-child {
  margin-right: 0;
}

.grid .grid-item h1 {
  background: #EEEEEE;
  height: 150px;
  line-height: 150px;
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}

.about {
  padding: 5rem 0;
  width: 96%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

.about .about-img-holder {
  position: absolute;
  left: 50%;
  right: 0;
  content: '';
  background: url(/img/produkty.png) center center no-repeat;
  background-size: contain;
  background-color: #fff;
  top: 0;
  bottom: 0;
  margin: 15px;
  border-radius: 15px;
  min-height: 300px;
}

.other-products {
  padding: 5rem 0;
}

.refs {
  padding: 5rem 0;
}

.refs .ref-item {
  background: #fff;
  -webkit-box-shadow: 0 0 46px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 46px rgba(0, 0, 0, 0.04);
  padding: 2em;
}

.refs .ref-item h3.name {
  font-weight: 700;
  color: #25221C;
  margin: .2em 0 .7em 0;
}

.refs .ref-item p {
  padding-left: 30px;
  position: relative;
  margin: 0;
}

.refs .ref-item p::before {
  content: url(/img/quote.svg);
  position: absolute;
  left: 0;
  top: 5px;
}

.clients {
  padding: 5rem 0;
}

.clients .logo-car {
  display: block;
  background: #fff;
  padding: 4em 2em;
}

.clients .logo-car img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.clients .logo-car:hover {
  -webkit-box-shadow: 0 0 46px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 46px rgba(0, 0, 0, 0.08);
}

.clients .logo-car:hover img {
  -webkit-filter: none;
          filter: none;
}

.clients .swiper-container {
  padding-bottom: 3em;
  padding-top: 1.5em;
}

.clients .swiper-container .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  border-radius: 100%;
  background: #FAB10F;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0px 6px;
}

.clients .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
  border: 4px solid #FAB10F;
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}

.contact {
  padding: 5rem 0;
  position: relative;
}

.contact .google-map {
  position: absolute;
  top: 0;
  bottom: 5rem;
  right: 0;
  left: 40%;
  z-index: 0;
}

.contact .google-map iframe {
  width: 100%;
  height: 100%;
}

.contact p {
  color: #6E6E6E;
}

.contact h2 {
  text-align: left;
  margin-bottom: 1.5em;
}

.contact h2::before {
  right: calc(100% - 100px);
}

.contact h2::after {
  left: 0;
}

.contact .contact-info {
  background: #fff;
  padding: 2rem;
  -webkit-box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
  margin-top: 2rem;
  position: relative;
  z-index: 2;
}

.contact .contact-info h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #313131;
  margin-bottom: .2rem;
}

.contact .contact-info p {
  margin-bottom: 2rem;
  font-size: .9rem;
}

.contact .contact-info p.adres,
.contact .contact-info p.tel,
.contact .contact-info p.mail {
  color: #313131;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6;
  padding-left: 40px;
  position: relative;
  margin-bottom: 0;
}

.contact .contact-info p.adres:before {
  position: absolute;
  content: url(/img/map.svg);
  top: 0;
  left: 0;
}

.contact .contact-info p.tel:before {
  position: absolute;
  content: url(/img/phone.svg);
  top: 0;
  left: 0;
}

.contact .contact-info p.mail:before {
  position: absolute;
  content: url(/img/mail.svg);
  top: 0;
  left: 0;
}

.newsletter {
  background: #f8485d;
  padding: 2rem 0;
}

.newsletter h3 {
  color: #fff;
  font-weight: 700;
}

.newsletter p {
  color: #fff;
  margin-bottom: 0;
}

.footer {
  padding: 3rem 0;
  color: #fff;
  background: #1A1A1A;
}

.footer h3 {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  list-style: none;
  display: block;
}

.footer ul li a {
  color: #BEBEBE;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.footer h4 {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.footer p {
  font-weight: 300;
  color: #BEBEBE;
  position: relative;
  padding-left: 30px;
}

.footer p strong {
  font-weight: 700;
}

.footer p.adres:before {
  position: absolute;
  content: url(/img/map.svg);
  top: 0;
  left: 0;
}

.footer p.tel:before {
  position: absolute;
  content: url(/img/phone.svg);
  top: 0;
  left: 0;
}

.footer p.mail:before {
  position: absolute;
  content: url(/img/mail.svg);
  top: 0;
  left: 0;
}

.footer a {
  color: #fff;
}

footer {
  background: #000;
  color: #B0B0B0;
  padding: 1rem 5%;
}

footer a {
  color: #B0B0B0;
  margin: 0 10px;
}

footer p {
  margin: 0;
}

footer img {
  max-height: 20px;
  margin: 0 10px;
}

.product-card {
  background: #FCFCFC;
  margin: 15px 0;
  text-align: center;
  padding: 2em;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product-card .img-holder {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .img-holder img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.product-card p.nrkat {
  background: #9C9C9C;
  font-size: .8rem;
  display: inline-block;
  padding: .2em 1em;
  border-radius: 5px;
  color: #fff;
}

.product-card h4 {
  color: #313131;
  font-weight: 600;
  font-size: 1.2rem;
  height: 80px;
  position: relative;
  z-index: 1;
}

.product-card p.price {
  color: #fab00f;
  font-weight: 700;
  font-size: 1.8rem;
  position: relative;
  z-index: 2;
  background: #fcfcfc;
}

.product-card a.cta {
  background: #F0F0F0;
  color: #808080;
}

.product-card:hover {
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 44px rgba(0, 0, 0, 0.08);
}

.product-card:hover a.cta {
  background: #fab00f;
  color: #fff;
}

@media (max-width: 992px) {
  .navbar-nav {
    padding-left: 30px;
  }
  .navbar-nav .nav-item {
    padding-left: 15px;
  }
  .about .about-img-holder {
    position: initial;
  }
  .contact .google-map {
    position: initial;
    height: 400px;
    margin-top: 2em;
  }
  footer {
    text-align: center;
  }
  footer img {
    margin: 10px 10px;
  }
  footer a {
    text-align: center;
    float: unset;
    margin-left: 0;
    margin: 5px 10px;
  }
}
/*# sourceMappingURL=style.css.map */